<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper" style="background-color:rgb(38,55,64)">
            {% capture logo %}{% link assets/img/astronaut-logo.svg %}{% endcapture %}
            <img class="responsive-img" src="{{ logo | absolute_url }}" style="padding-left:25px;max-height=50px;max-width=50px;height:auto;width:auto;" />
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="#">Günstiger Kurztrip ab Süddeutschland</a></li>
            </ul>
        </div>
    </nav>
</div>